@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



@import "tailwindcss";

@utility container {
  margin-inline: auto;

}


@theme{
  --font-main : "Open Sans", sans-serif;
}

#aboutBanner{

  background: url('../public/iamges/aboutBanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}



#aboutContainer{

    background: url('../public/iamges/aboutContainer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;



}